.jumbotron{
	background-color: antiquewhite;
	color: black;
	margin-top: 20px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: lightgrey;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-disponible{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.card-img-top{
	margin-top: 5px;
}

.col-sm{
	background-color: #bea8a875;
	border-radius: 80px;
	text-align: center;
	margin-top: 10px;
}

.tab-content{
	padding-top: 10px;
}