/* DEFINO LOS COLORES (LESS)*/
/* DEFINO MIX IN */
.jumbotron {
  background-color: #faebd7;
  color: black;
  margin-top: 50px;
  margin-bottom: 20px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #d3d3d3;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-disponible {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.card-img-top {
  margin-top: 5px;
  margin-bottom: 0px;
}
.col-sm {
  background-color: #bea8a875;
  border-radius: 80px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
.tab-content {
  margin-top: 10px;
  margin-bottom: 0px;
}
