/* DEFINO LOS COLORES (LESS)*/
@antiquewhite: #faebd7;
@lightgrey: #d3d3d3;


/* DEFINO MIX IN */
.margenes (@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @antiquewhite;
  color: black;
  .margenes (50px, 0px);
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @lightgrey;
  .margenes (10px, 0px);
}

.card-hotel {
  flex: 1 200px;
  .margenes (10px, 0px);
}

.btn-disponible {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 10px;
}

.card-img-top {
  .margenes (5px, 0px);
}

.col-sm {
  background-color: #bea8a875;
  border-radius: 80px;
  text-align: center;
  .margenes (10px, 0px);
}

.tab-content {
  .margenes (10px, 0px);
  }