/* DEFINO LOS COLORES (SASS)*/ 
$antiquewhite: antiquewhite;
$lightgrey: #d3d3d3;

/* DEFINO MIX IN */
@mixin margenes ($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
} 

.jumbotron{
	background-color: $antiquewhite;
	color: black;
	@include margenes(20px, 0px);
}

footer{
	padding: 10px 10px 0 10px;
	background-color: $lightgrey;
	@include margenes(10px, 0px);
}

.card-hotel{
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.btn-disponible{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.card-img-top{
	@include margenes(5px, 0px);
}

.col-sm{
	background-color: #bea8a875;
	border-radius: 80px;
	text-align: center;
	@include margenes(10px, 0px);
}

.tab-content{
	padding-top: 10px;
}